{% for name in ['trino-s-1', 'trino-m-1'] %}
---
apiVersion: trino.stackable.tech/v1alpha1
kind: TrinoCluster
metadata:
  name: {{ name }}
spec:
  image:
{% if test_scenario['values']['trino'].find(",") > 0 %}
    custom: "{{ test_scenario['values']['trino'].split(',')[1] }}"
    productVersion: "{{ test_scenario['values']['trino'].split(',')[0] }}"
{% else %}
    productVersion: "{{ test_scenario['values']['trino'] }}"
{% endif %}
    pullPolicy: IfNotPresent
  clusterConfig:
    catalogLabelSelector:
      matchLabels:
        trino: trino
    authentication:
      - authenticationClass: trino-users-auth
{% if lookup('env', 'VECTOR_AGGREGATOR') %}
    vectorAggregatorConfigMapName: vector-aggregator-discovery
{% endif %}
  coordinators:
    config:
      resources:
        cpu:
          min: 250m
          max: "1"
        memory:
          limit: 2Gi
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
  workers:
    config:
      resources:
        cpu:
          min: 250m
          max: "1"
        memory:
          limit: 3Gi
      gracefulShutdownTimeout: 60s # Let the test run faster
      logging:
        enableVectorAgent: {{ lookup('env', 'VECTOR_AGGREGATOR') | length > 0 }}
    roleGroups:
      default:
        replicas: 1
{% endfor %}
---
apiVersion: authentication.stackable.tech/v1alpha1
kind: AuthenticationClass
metadata:
  name: trino-users-auth
spec:
  provider:
    static:
      userCredentialsSecret:
        name: trino-users
---
apiVersion: v1
kind: Secret
metadata:
  name: trino-users
type: kubernetes.io/opaque
stringData:
  admin: adminadmin
  alice: alicealice
  bob: bobbob
